extends ../layout

block content
  .row
    .col-lg-3.col-md-4
      include menu
    .col-lg-9.col-md-8
      form(method='post')
        input(type='hidden', name='_csrf', value=_csrf)
        .card
          .card-header=__('Password')
