extends ../layout

block content
  .card-columns
    each item in data
      .card
        .card-block
          h3.card-title
            =item.profile.name
          h4.card-title
            =item.stagename
          .card-title
            =item.email
