html, body {
  background-color: $gray-dark;
}

main {
  background-color: $white;
  padding-bottom: 1rem;
}

footer {
  padding: 1rem 0;
  background-color: $gray-dark;
}

.card-columns {
  column-count: 1;
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-up(lg) {
    column-count: 3;
  }
}
.navbar {
  .btn, .btn-link {
    cursor: pointer;
    -webkit-appearance: none;
  }
}
