html, body {
  background-color: $gray-dark;
}

main {
  background-color: $white;
  padding-bottom: 1rem;
}

footer {
  padding: 1rem 0;
  background-color: $gray-dark;
}

.card-columns {
  column-count: 1;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  @include media-breakpoint-only(md) {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
  }
  @include media-breakpoint-up(lg) {
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
  }
}

.navbar {
  &-brand {
    padding-right: 1rem;
  }
  .btn, .btn-link {
    cursor: pointer;
    -webkit-appearance: none;
  }
}

.card-deck {
  .card {
    max-width: 350px;
  }
}

#app {
  background-color: $gray-lightest;
  .account-nav-wrap {
    margin-top: $jumbotron-padding * -1;
    background-color: $gray-lighter;
    margin-bottom: $jumbotron-padding;
  }
  #account-nav {
    .nav-link {
      background-color: $gray-lighter;
      color: $gray-dark;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      &.active {
        background-color: $gray-lightest;
      }
      padding: .5rem 1rem;
    }
  }
}
